* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*  ==================  CUSTOM SCROLL BAR starts here !!  ==================  */
::-webkit-scrollbar {
  width: 0.4rem;
  background-color: #f7f7f7;
  border-radius: 2rem;
  /* background-color: #eddfff; */
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #0078aa, #3ce2ad);
  border-radius: 2rem;
}
::-webkit-scrollbar-thumb:hover {
  /* background: linear-gradient(to bottom, #63d5e1, #81efcc); */
}

body {
  /* color: #0078aa; */
  /* color: #11bfdb; */
  /* color: #63d5e1; */
  /* color: #81efcc; */
  /* color: #3ce2ad; */
  
  /* color: #35dcb6; */
}
.custom-imageFile-input-magicWand{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20rem;
  width: 100%;
  cursor: pointer;
  border: 3px solid #e4e6ea;
  border-style: dashed;
  border-radius: 5px;
    
}